section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 0.75rem 1.5rem;
  font: var(--text-span);
  a {
    justify-self: end;
    aling-items: center;
    gap: 0.5rem;

    span {
      background-image: url(../assets/icons/ArrowRight.svg);
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
    }
    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
      background-repeat: no-repeat;
    }
  }
}
.truncated-four-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  align-self: stretch;
}
.truncated-tree-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  align-self: stretch;
}
.truncated-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  align-self: stretch;
}

#featured {
  grid-area: featured;
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  .card {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 1.5rem;

      &:has(.text-lg) {
        padding: 0.75rem;
      }

      h2 {
        margin-top: 0.5rem;
      }
    }
  }
}

#weekly {
  grid-area: weekly;
  & > div {
    grid-template-columns: repeat(4, 18.25rem);
  }
  img {
    height: 10rem;
    object-fit: cover;
  }
  figure {
    position: relative;
    overflow: hidden;
    .content-tag {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }
  p {
    margin-top: 0.5rem;
  }
}
#ia {
  img {
    width: 11rem;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  h3 {
    margin-lock: 0.5rem 0.25rem;
  }
}
aside {
  grid-area: aside;
}
#more {
  grid-area: more;
  img {
    width: 4.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}
