#featured {
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  .card {
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 1.5rem;
      h2 {
        margin-top: 0.5rem;
      }
      h3 {
        margin-top: 0.5rem;
      }
    }
  }
}
